.red-centered{
    color:#b03937;
    text-align:center;
}

.red{
    color:#b03937;
}

.white-centered{
    color:#fff;
    text-align:center;
}

.white{
    color:white;
}

.black{
    color: #000;
}

.padtop{
    padding-top: 10px;
    padding-bottom: 10px;
}

.middle{
    text-align: center;
}

marquee{
    font-size: xx-large;
    
}
